# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.vcxproj
*.sln
*.filters
*.user
HW4/.vs/HW4/v16/.suo
*.ipch
*.tlog
*.pdb
*.ilk
*.idb
